<nav>
  <div class="nav-container container">
    <div class="logo"><h1>LOGO</h1></div>
    <% if (user) { %>
    <div class="logout">
      <a href="/account/logout">Log Out</a>
    </div>
    <% } %>
  </div>
</nav>
