<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <script
      src="https://kit.fontawesome.com/bc308bbd0b.js"
      crossorigin="anonymous"
    ></script>
    <title>Login</title>
  </head>
  <body>
    <div class="container main-container" id="app">
      <%- include ("partials/navbar") %>
      <div class="containers">
        <div class="about-container container">
          <div class="design hollow-square" id="d1"></div>
          <div class="design hollow-square" id="d2"></div>
          <div class="design hollow-circle" id="d3"></div>
          <div class="design hollow-circle" id="d4"></div>
          <div class="about-head">
            <h1>Create Account</h1>
          </div>
          <div class="about-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit Deleniti
              harum.
            </p>
            <a href="/account/signup" id="to-signup" class="about-action-btn"
              >Sign Up</a
            >
          </div>
        </div>

        <div class="form-container container">
          <!-- <img src="/assets/circle.svg" id="circle" alt="" /> -->
          <div class="login-form-container form-shell">
            <form action="/auth/login" method="POST" class="login-form form">
              <div class="heading login-form-heading">
                <div class="logo">
                  <img src="/assets/logo.svg" alt="" />
                </div>
                <h3>Welcome Back</h3>
                <p>Come back and explore our amazing services</p>
              </div>
              <div class="form-body login-form-body">
                <div class="form-fields">
                  <div class="form-field email-field">
                    <label for="email" class="input-label">
                      <i class="far fa-envelope label-icon"></i>
                      <h6>Email</h6>
                    </label>
                    <input type="text" id="email" name="email" />
                  </div>
                  <div class="form-field password-field">
                    <label for="password" class="input-label">
                      <i class="far fa-keyboard label-icon"></i>
                      <h6>Password</h6>
                    </label>
                    <input type="password" id="password" name="password" />
                  </div>
                </div>
                <div class="form-btns">
                  <button
                    id="login-btn"
                    class="form-btn main-btn"
                    type="submit"
                  >
                    Login
                  </button>
                  <a
                    href="/account/signup"
                    class="signup-btn form-btn secondary-btn"
                    >Sign Up</a
                  >
                </div>
              </div>
            </form>
          </div>
          <div class="option">
            <h3>or login with</h3>
          </div>
          <div class=" oauth-container oauth-login">
            <div class="oauth-btns">
              <a href="#" class="oauth-btn" id="google"
                ><i class="fab fa-google"></i> Google</a
              >
              <a href="#" class="oauth-btn" id="facebook"
                ><i class="fab fa-facebook-f"></i> Facebook</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
