<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <script src="/js/signup.js" defer></script>
    <script
      src="https://kit.fontawesome.com/bc308bbd0b.js"
      crossorigin="anonymous"
    ></script>
    <title>Sign up</title>
  </head>
  <body>
    <div class="container main-container" id="app">
      <nav>
        <div class="nav-container container">
          <div class="logo"><h1>LOGO</h1></div>
        </div>
      </nav>
      <div class="containers">
        <div class="about-container container">
          <div class="design hollow-square" id="d1"></div>
          <div class="design hollow-square" id="d2"></div>
          <div class="design hollow-circle" id="d3"></div>
          <div class="design hollow-circle" id="d4"></div>
          <div class="about-head">
            <h1>Have an account?</h1>
          </div>
          <div class="about-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit Deleniti
              harum.
            </p>
            <a href="/account/login" id="to-login" class="about-action-btn"
              >Login</a
            >
          </div>
        </div>

        <div class="form-container container">
          <!-- <img src="/assets/circle.svg" id="circle" alt="" /> -->
          <div class="signup-form-container form-shell">
            <form
              method="POST"
              action="/auth/signup"
              class="form"
              id="signup-form"
            >
              <div class="heading signup-form-heading">
                <div class="logo">
                  <img src="/assets/logo.svg" alt="" />
                </div>
                <h3>Sign Up</h3>
                <p>Create an account and get started</p>
              </div>
              <div class="form-body signup-form-body">
                <div class="form-fields">
                  <div class="form-field email-field">
                    <label for="email" class="input-label">
                      <i class="far fa-envelope label-icon"></i>
                      <h6>Email</h6>
                    </label>
                    <input type="email" id="email" name="email" />
                  </div>
                  <div class="form-field password-field">
                    <label for="password" class="input-label">
                      <i class="far fa-keyboard label-icon"></i>
                      <h6>Password</h6>
                    </label>
                    <input type="text" id="password" name="password" />
                  </div>
                </div>
                <div class="form-btns">
                  <button
                    id="signup-btn"
                    class="form-btn main-btn"
                    type="submit"
                  >
                    Sign Up
                  </button>
                  <a
                    href="/account/login"
                    class="signup-btn form-btn secondary-btn"
                    >Login</a
                  >
                </div>
              </div>
            </form>
          </div>
          <div class="option">
            <h3>or sign up with</h3>
          </div>
          <div class=" oauth-container oauth-signup">
            <div class="oauth-btns">
              <a href="#" class="oauth-btn" id="google"
                ><i class="fab fa-google"></i> Google</a
              >
              <a href="#" class="oauth-btn" id="facebook"
                ><i class="fab fa-facebook-f"></i> Facebook</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
